@import url('/assets/fonts/HankenGrotesk-VariableFont_wght.ttf');

* {
    margin: 0;
    padding: 0;
}

:root {
    /* primary colors */
    --pri-light-red: hsl(0, 100%, 67%);
    --pri-orangey-yellow: hsl(39, 100%, 56%);
    --pri-green-teal: hsl(166, 100%, 37%);
    --pri-cobalt-blue: hsl(234, 85%, 45%);

    /* gradient colors */
    --gra-light-slate-blue-bg: hsl(252, 100%, 67%);
    --gra-light-royal-blue-bg: hsl(241, 81%, 54%);
    --gra-violet-blue-c: hsla(256, 72%, 46%, 1);
    --gra-persian-blue-c: hsla(241, 72%, 46%, 0);

    /* neutral colors */
    --neu-white: hsl(0, 0%, 100%);
    --neu-pale-blue: hsl(221, 100%, 96%);
    --neu-light-lavender: hsl(241, 100%, 89%);
    --neu-dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    font-size: calc(1em + .2vw);
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: var(--neu-white);
}

main {
    margin-bottom: 2em;
    /* border: 2px solid blue; */
}

.result-cont {
    background-image: linear-gradient(var(--gra-light-slate-blue-bg) 50%, var(--gra-light-royal-blue-bg));
    display: grid;
    justify-content: center;
    padding: 2em;
    border-radius: 0 0 2em 2em;
    /* border: 2px solid pink; */
}

.result {
    padding: .5em;
    max-width: 1500px;
    /* border: 2px solid pink; */
    color: var(--neu-white);
    display: grid;
    place-items: center;
    /* word-wrap: balance; */
}

.result > * , .summary > * {
    margin-bottom: 1.5em;
}

.re-text {
    font-weight: 700;
    color: var(--neu-light-lavender);
}

.result .circle {
    --gra-violet-blue-c: hsla(256, 72%, 56%, 1);
    --gra-light-slate-blue-bg: hsla(252, 100%, 67%, .2);
    /* display: block; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    align-items: center;
    color: var(--neu-light-lavender);
    background-image: linear-gradient( var(--gra-violet-blue-c), var(--gra-light-slate-blue-bg));
}

.circle span {
    font-size: 2.5em;
    font-weight: 800;
    color: var(--neu-white);
    margin-bottom: .2em;
}

.result h3+p {
    color: var(--neu-light-lavender);
    text-align: center;
}

.summary {
    max-width: 1500px;
    /* margin: auto; */
    /* border: 2px solid pink; */
    margin-top: 1.5em;
    padding: 1em;
}

.summary h3 {
    color: var(--neu-dark-gray-blue);
}

.summary div {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid; */
    padding: 1em;
    border-radius: .5em;
}

.summary div p {
    display: flex;
    gap: .5em;
    align-items: center;
}
.summary div span {
    color: var(--neu-dark-gray-blue);
}

.asst-text {
    /* background-color: yellow; */
    opacity: .5;
}

.reaction {
    --pri-light-red: hsla(0, 100%, 67%, .1);
    background-color: var(--pri-light-red);
    color: hsl(0, 100%, 67%);
}

.memory {
    --pri-orangey-yellow: hsla(39, 100%, 56%, .1);
    background-color: var(--pri-orangey-yellow);
    color: hsl(39, 100%, 56%);
}

.verbal {
    --pri-green-teal: hsla(166, 100%, 37%, .1);
    background-color: var(--pri-green-teal);
    color: hsl(166, 100%, 37%);
}

.visual {
    --pri-cobalt-blue: hsla(234, 85%, 45%, .1);
    background-color: var(--pri-cobalt-blue);
    color: hsl(234, 85%, 45%);
}

.summary a {
    text-align: center;
    display: block;
    max-width: 250px;
    margin: auto;
    text-decoration: none;
    color: var(--neu-pale-blue);
    padding: .7em;
    background-color: var(--neu-dark-gray-blue);
    border-radius: 1.5em;
    transition: all 1.3s ease-in-out;
}

.summary a:is(:hover, :active) {
    background-image: linear-gradient(var(--gra-light-slate-blue-bg) 50%, var(--gra-light-royal-blue-bg));
    letter-spacing: .2em;
} 

footer {
    text-align: center;
} 

@media(min-width: 840px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    main{
        display: grid;
        width: min-content;
        grid-template-columns: repeat(2, minmax(400px, 600px));
        grid-auto-rows: 500px;
        justify-content: center;
        align-content: center;
        border-radius: 2em;
        box-shadow: 0px 8px 20px hsla(256, 72%, 66%, .3), 2px 1px 20px hsla(256, 72%, 66%, .3);
    }

    .result-cont {
        border-radius: 2em 0 2em 2em;
    }

    .summary {
        border-radius: 0 2em 2em 0;
    }

    .summary, .result-cont {
        margin: 0;
    }
}

@media(min-width:1440px) {
    body {
        font-size: 19.5px;
    }
}

@media(min-width:2500px) {
    
    body {
        font-size: calc(1em + .7vw);
    }
    main{
        width: max-content;
        grid-template-columns: repeat(2, minmax(700px, 1fr));
        grid-auto-rows: 800px;
    }

    .result .circle {
        width: 250px;
        height: 250px;
    }

    .summary > * {
    margin-bottom: 1.1em;
    }

   
}